{% extends 'base.html.twig' %}

{% block body %}
    
    <div id="wrapper">
        <div id="container">
            <div id="n2g">
                <h1>Net2Grid demo api</h1>
            </div>

            <div id="list">
                <h3>{{message1}}</h3>
            </div>
        </div>
    </div>
                    
{% endblock %}